body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#info {
    position: absolute;
    bottom : 0 ;
    right : 0 ;
    left : 0;
   font-family : 'sans-serif' ;
    font-size: 24px;
    color : white ;
    margin : 8px;
}